<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&family=Noto+Serif&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="js/myscript.js"></script>


</head>

<!-- start of navbar -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container">
        <a class="navbar-brand" href="#">Lets Fight With Covid</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="https://www.cowin.gov.in/home">Home of cowin <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://selfregistration.cowin.gov.in/">Registration</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="https://www.cowin.gov.in/faq">Faq</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link "
                        href="https://self4society.mygov.in/covid-resources/?utm_source=MyGov&utm_medium=MyGovCovid-19">Contact
                        Us</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<!-- end of navbar -->

<!-- header secion/banner -->

<header class="header">

    <div class="container h-100">

        <div class="row h-100 align-items-center">

            <div class="col-md-12 text-center">
                <img _ngcontent-qhc-c69="" src="img/largest-vaccine-banner.jpg" alt="largest vaccine drive"
                    class="banner-image">
                <h1>#IndiaFightsCorona COVID-19</h1>
                <p>Government of India is taking all necessary steps to ensure that we are prepared well to face the
                    challenge and threat posed by the growing pandemic of COVID-19 the Corona Virus. The most important
                    factor in preventing the spread of the Virus locally is to empower the citizens with the right
                    information and taking precautions as per the advisories being issued by Ministry of Health & Family
                    Welfare.</p>

                <a class="reg-yourself" target="_blank" href="https://selfregistration.cowin.gov.in/"
                    title="Register with  Co-Win"><img
                        src="https://www.mygov.in/sites/all/themes/mygov/images/covid/co-win.png"
                        alt="Register with  Co-Win"></a>
                <a class="reg-witharogya" target="_blank" href="https://www.aarogyasetu.gov.in/applink/"
                    title="Register with Aarogya Setu"><img
                        src="https://www.mygov.in/sites/all/themes/mygov/images/covid/aarogya_btn_img.png"
                        alt="Register with Aarogya Setu"></a>
                <a class="reg-with-umang" target="_blank"
                    href="https://web.umang.gov.in/web_new/login?redirect_to=&amp;utm_source=MyGov&amp;utm_medium=MyGovCovid-19"
                    title="Register with Umang"><img
                        src="https://www.mygov.in/sites/all/themes/mygov/images/covid/umang-logo.png"
                        alt="Register with umang"></a>
            </div>
        </div>
    </div>

</header>


<!-- end of header section -->

<body ng-app="MyApp" ng-controller="MyCtrl">

    <div class="container">
        <div class="jumbotron" py-3>
            <h1 class="text-center">{{title}}</h1>


            <p class="pt-3">
                <b><i>in this difficult time we must stay home and do whatever we like and be safe. because life
                        threatning pandamic has come to visit us...we can only fight this battle with it by staying
                        home, using hand sanitisers and mask... take extra preacutions of elderly people at home...so
                        stay home stay safe...</i></b>
            </p>


            <!-- all data -->

            <div class="row text-center">
                <div class="col-md-4">
                    <div class="card bg-warning text-white">
                        <div class="card-body">
                            <h3>Confirmed Cases</h3>
                            <h3>{{all_data.confirmed.value}}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="card bg-success text-white">
                        <div class="card-body">
                            <h3>Recovered Cases</h3>
                            <h3>{{all_data.recovered.value}}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-danger text-white">
                        <div class="card-body">
                            <h3>Death Cases</h3>
                            <h3>{{all_data.deaths.value}}</h3>
                        </div>
                    </div>
                </div>
            </div>


            <!-- END ALL data -->

            <input type="text" class="form-control mt-4" placeholder="enter country here" ng-model="c"
                ng-change="get_c_data()" />

            <!-- c data -->
            <div class="container-fluid" ng-if="c_data">
                <h1 class="text-center mt-4 text-uppercase">{{c}} status</h1>
                <div class="row text-center mt-4">
                    <div class="col-md-4">
                        <div class="card bg-warning text-white">
                            <div class="card-body">
                                <h3>Confirmed Cases</h3>
                                <h3>{{c_data.confirmed.value}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="card bg-success text-white">
                            <div class="card-body">
                                <h3>Recovered Cases</h3>
                                <h3>{{c_data.recovered.value}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-danger text-white">
                            <div class="card-body">
                                <h3>Death Cases</h3>
                                <h3>{{c_data.deaths.value}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <!-- end c data -->

        </div>


        <!-- start of service section -->
        <section class="services">
            <div class="container text-center py-5">
                <h1>How to Book Vaccine</h1>
                <div class="row">
                    <div class="col-md-4">
                        <!-- first col -->
                        <div class="card">

                            <div class="stepsimg"><img _ngcontent-hkk-c69=""
                                    src="https://prod-cdn.preprod.co-vin.in/assets/images/s1.svg" alt="about"
                                    class="img-fluid">

                                <h1>Register Yourself</h1>
                                <p>Register using your Mobile no. or Aadhaar no. or any other Identity docs.</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="card">

                            <div class="stepsimg"><img _ngcontent-hkk-c69=""
                                    src="https://prod-cdn.preprod.co-vin.in/assets/images/s2.svg" alt="about"
                                    class="img-fluid">

                                <h1>Choose Vaccine Location</h1>
                                <p>Select your nearby Vaccine Center for vaccination</p>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="card">

                            <div class="stepsimg"><img _ngcontent-hkk-c69=""
                                    src="https://prod-cdn.preprod.co-vin.in/assets/images/s3.svg" alt="about"
                                    class="img-fluid">

                                <h1>Confirm your Slot.</h1>
                                <p>Book your slot to Get Vaccine</p>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </section>
        <!-- end of services section -->

        <p>&emsp;</p>
        <div _ngcontent-hkk-c69="" class="manual-link cm-dos-link"><a _ngcontent-hkk-c69=""
                href="https://prod-cdn.preprod.co-vin.in/assets/pdf/User_Guide_Citizen%20registration_18+.pdf"
                download="" target="_blank" class="user-manual-link">Know how to book your
                appointment---> </a></div>

        <p>&emsp;</p>

        <div _ngcontent-hkk-c69="" class="manual-link cm-dos-link">
            <a _ngcontent-hkk-c69="" href="https://prod-cdn.preprod.co-vin.in/assets/pdf/Dos_and_Donts_for_Citizens.pdf"
                download="" target="_blank" class="user-manual-link">Dos and Don'ts---> </a>
        </div>




        <br>

        <!-- contact section -->

        <section class="contact">
            <div class="container text-center py-5">

                <h1>Let's Get In Touch!</h1>
                <p>For any technical enquiry with respect to COVID-19, you may kindly email on
                    technicalquery.covid19@gov.in Aarogya Setu IVRS 1921 </p>
                <i class="fa fa-phone myicon text-warning"></i>
                <i class="fa fa-heart myicon text-danger"></i>
                <p> Helpline Number : +91-11-23978046Toll</p>

                <p>Free Number: 1075</p>
            </div>
        </section>

        <!-- end of contact section -->
    </div>

<br>
    <!-- footer section -->

    <section class="footer bg-dark">
        <div class="container py-2 text-white text-center ">
            <p>copyright @2021 Shivraj</p>
        </div>
    </section>

    <!-- end of footer section -->


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>